appdirs==1.4.3
attrs==17.4.0
CVXcanon==0.1.1
cvxpy==0.4.11
cycler==0.10.0
decorator==4.1.2
dill==0.2.7.1
dipy==0.13.0
ecos==2.0.5
fastcache==1.0.2
h5py==2.7.1
llvmlite==0.21.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.1
multiprocess==0.70.5
nibabel==2.2.1
numba==0.36.2
numpy==1.14.0
pip==9.0.1
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.2
pycuda==2017.1.1
pyparsing==2.2.0
pytest==3.3.2
python-dateutil==2.6.1
pytools==2017.6
pytz==2017.3
scipy==1.0.0
scs==2.0.2
setuptools==20.7.0
six==1.11.0
toolz==0.9.0
wheel==0.30.0
